{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}

<body>
    <div class = 'container'>
        <h1 class="text-center">Find out if the news you're reading is fake.</h1>
        <form class = "form text-center" action= "{{ url_for('result') }}" method="post">
            <label for="news_link">Enter in your news article link</label><br>
            <textarea name="news_link" cols="50" rows="5"></textarea>
            <div class="col-auto">
                <input type="submit" class="btn btn-primary mb-3">
            </div>
        </form>
    </div>
</body>
{% endblock %}